<th:block th:fragment="text-block">
    <th:block th:switch="${block.type}">
        <h1 th:case="'text-h1'" th:text="${block.content}" class="text-h1">Heading</h1>
        <h2 th:case="'text-h2'" th:text="${block.content}" class="text-h2">Subheading</h2>
        <p th:case="'text-paragraph'" th:text="${block.content}" class="text-paragraph">Paragraph</p>
        <ul th:case="'text-list'" class="text-list">
            <li th:each="item : ${#strings.arraySplit(block.content, '|')}" th:text="${item}">Item</li>
        </ul>
    </th:block>
</th:block>